{% for user in users %}
dn: uid={{ user.uid }},ou=People,{{ ldap_base_dn }}
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: {{ user.cn }}
sn: {{ user.sn }}
uid: {{ user.uid }}
uidNumber: {{ user.uidNumber }}
gidNumber: {{ user.gidNumber }}
homeDirectory: {{ user.homeDirectory }}
loginShell: {{ user.loginShell }}
userPassword: {{ user.password }}

{% endfor %}
